<!DOCTYPE html>
<html>
<script src="chartjs1/Chart.js" type="text/javascript"></script>
</head>

<body>
        <h6 onclick="document.getElementById('main').style.float='none'">click to don't see size issue</h6>
        <div id="main" style="float:right">
                <script type="text/javascript">var jckPassedChart = {}; var buildsMap = {};</script>
                <h3 style="font-family: monospace">SPECjvm score (blacklisted 0) (whitelisted 0+0)</h3>
                <div style="margin-right: 10pt" id="chartContainer0"><canvas width="600" id="chart0"
                                height="600"></canvas>
                </div>
                <script type="text/javascript">
                        // <![CDATA[
                        var data = {
                                labels: [

                                        "11.0.14.0.9-5.el8:100",
                                        "11.0.14.0.9-6.el8:101",
                                        "11.0.14.1.1-1.el8:102",
                                        "11.0.14.1.1-4.el8:103",
                                        "11.0.14.1.1-3.el8:104",
                                        "11.0.14.1.1-5.el8:108",
                                        "11.0.14.1.1-6.el8:111",
                                        "11.0.15.0.10-3.el8:112",
                                        "11.0.16.0.8-2.el8:113",
                                        "11.0.16.1.1-2.el8:114",
                                        "11.0.16.1.1-3.el8:115",
                                        "11.0.17.0.8-2.el8:116",
                                        "11.0.17.0.8-2.el8:117",
                                        "11.0.18.0.9-0.3.ea.el8:118",
                                        "11.0.18.0.10-3.el8:119"
                                ],
                                datasets: [
                                        {
                                                label: "SPECjvm score (blacklisted 0) (whitelisted 0+0)",
                                                fillColor: "#FF0000",
                                                strokeColor: "#FF0000",
                                                pointStrokeColor: "#808080",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "rgba(0,0,0,1)",
                                                data: [

                                                        726,
                                                        728,
                                                        708,
                                                        733,
                                                        732,
                                                        731,
                                                        691,
                                                        633,
                                                        815,
                                                        600,
                                                        734,
                                                        732,
                                                        728,
                                                        725,
                                                        731
                                                ],
                                                coloredTips: [

                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000",
                                                        "#FF0000"
                                                ]
                                        }
                                ]
                        };
                        var options = {
                                bezierCurve: false,
                                multiTooltipTemplate: "<%= datasetLabel + \": \" + value %>"
                        };
                        var ctx = document.getElementById("chart0").getContext("2d");
                        jckPassedChart["chart0"] = new Chart(ctx).Line(data, options);
                        buildsMap["11.0.14.0.9-5.el8:100"] = "100"; buildsMap["11.0.14.0.9-6.el8:101"] = "101"; buildsMap["11.0.14.1.1-1.el8:102"] = "102"; buildsMap["11.0.14.1.1-4.el8:103"] = "103"; buildsMap["11.0.14.1.1-3.el8:104"] = "104"; buildsMap["11.0.14.1.1-5.el8:108"] = "108"; buildsMap["11.0.14.1.1-6.el8:111"] = "111"; buildsMap["11.0.15.0.10-3.el8:112"] = "112"; buildsMap["11.0.16.0.8-2.el8:113"] = "113"; buildsMap["11.0.16.1.1-2.el8:114"] = "114"; buildsMap["11.0.16.1.1-3.el8:115"] = "115"; buildsMap["11.0.17.0.8-2.el8:116"] = "116"; buildsMap["11.0.17.0.8-2.el8:117"] = "117"; buildsMap["11.0.18.0.9-0.3.ea.el8:118"] = "118"; buildsMap["11.0.18.0.10-3.el8:119"] = "119";
                        document.getElementById("chartContainer0").onclick = function (evt) {
                                var activePoints = jckPassedChart["chart0"].getPointsAtEvent(evt);
                                window.open(buildsMap[activePoints[0].label], "_blank");
                        };
        // ]]>
                </script>
                <div id="topLevelChartContainer">
                        <script type="text/javascript">var diffChartClick = {}; var diffBuildMap = {};</script>
                        <h3 style="font-family: monospace">RPM Changes</h3>
                        <div id="rpmsChartContainer-rpms"><canvas id="rpmsChart-rpms"
                                        style="width: 500px; height: 500px;" width="500" height="500"></canvas></div>
                        <script type="text/javascript">
                                // <![CDATA[
                                var data = {
                                        labels: [

                                                "1.8.0.332.b09-3.el7openjdkportable:37",
                                                "1.8.0.332.b09-3.el7openjdkportable:38",
                                                "1.8.0.342.b07-1.el7openjdkportable:39",
                                                "1.8.0.345.b01-1.el7openjdkportable:41",
                                                "1.8.0.352.b08-1.el7openjdkportable:43",
                                                "1.8.0.362.b08-1.el7openjdkportable:46",
                                                "1.8.0.362.b08-2.el7openjdkportable:47",
                                                "1.8.0.362.b08-3.el7openjdkportable:48",
                                                "1.8.0.362.b08-4.el7openjdkportable:49",
                                                "1.8.0.362.b09-1.el7openjdkportable:50"
                                        ],
                                        datasets: [
                                                {
                                                        label: "Installed",
                                                        fillColor: "rgba(128,255,128,0.2)",
                                                        strokeColor: "rgba(128,255,128,1)",
                                                        pointColor: "rgba(128,255,128,1)",
                                                        pointStrokeColor: "#fff",
                                                        pointHighlightFill: "#fff",
                                                        pointHighlightStroke: "rgba(128,255,128,1)",
                                                        data: [

                                                                33,
                                                                35,
                                                                80,
                                                                0,
                                                                0,
                                                                0,
                                                                110,
                                                                12,
                                                                13,
                                                                17
                                                        ]
                                                },
                                                {
                                                        label: "Remvoed",
                                                        fillColor: "rgba(255,128,128,0.2)",
                                                        strokeColor: "rgba(255,128,128,1)",
                                                        pointColor: "rgba(255,128,128,1)",
                                                        pointStrokeColor: "#fff",
                                                        pointHighlightFill: "#fff",
                                                        pointHighlightStroke: "rgba(255,128,128,1)",
                                                        data: [

                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17,
                                                                17
                                                        ]
                                                },
                                                {
                                                        label: "Total",
                                                        fillColor: "rgba(128,128,128,0.2)",
                                                        strokeColor: "rgba(128,128,128,1)",
                                                        pointColor: "rgba(128,128,128,1)",
                                                        pointStrokeColor: "#fff",
                                                        pointHighlightFill: "#fff",
                                                        pointHighlightStroke: "rgba(128,128,128,1)",
                                                        data: [

                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474,
                                                                1474
                                                        ]
                                                }
                                        ]
                                };
                                var options = {
                                        bezierCurve: false,
                                        multiTooltipTemplate: "<%= datasetLabel + \": \" + value %>"
                                };
                                // Get the context of the canvas element we want to select
                                var ctx = document.getElementById("rpmsChart-rpms").getContext("2d");
                                diffChartClick["rpmsChart-rpms"] = new Chart(ctx).Line(data, options);
                                diffBuildMap["1.8.0.332.b09-3.el7openjdkportable:37"] = "37"; diffBuildMap["1.8.0.332.b09-3.el7openjdkportable:38"] = "38"; diffBuildMap["1.8.0.342.b07-1.el7openjdkportable:39"] = "39"; diffBuildMap["1.8.0.345.b01-1.el7openjdkportable:41"] = "41"; diffBuildMap["1.8.0.352.b08-1.el7openjdkportable:43"] = "43"; diffBuildMap["1.8.0.362.b08-1.el7openjdkportable:46"] = "46"; diffBuildMap["1.8.0.362.b08-2.el7openjdkportable:47"] = "47"; diffBuildMap["1.8.0.362.b08-3.el7openjdkportable:48"] = "48"; diffBuildMap["1.8.0.362.b08-4.el7openjdkportable:49"] = "49"; diffBuildMap["1.8.0.362.b09-1.el7openjdkportable:50"] = "50";
                                document.getElementById("rpmsChartContainer-rpms").onclick = function (evt) {
                                        var activePoints = diffChartClick["rpmsChart-rpms"].getPointsAtEvent(evt);
                                        window.open(diffBuildMap[activePoints[0].label] + "/rpms/#rpms", "_blank");
                                };
        // ]]>
                        </script>
                </div>
                <h3 style="font-family: monospace">Number of Failures: JTREG Reports</h3>
                <div id="jckErrorsFailuresChartContainer" style="margin-right: 10pt"><canvas id="jckErrorsFailuresChart"
                                style="width: 600px; height: 600px;" width="600" height="600"></canvas></div>
                <h3 style="font-family: monospace">Number of Tests total: JTREG Reports</h3>
                <div id="jckPassedChartContainer" style="margin-right: 10pt"><canvas id="jckPassedChart"
                                style="width: 600px; height: 600px;" width="600" height="600"></canvas></div>
                <h3 style="font-family: monospace">Regressions: JTREG Reports</h3>
                <div id="jckRegressionsChartContainer" style="margin-right: 10pt"><canvas id="jckRegressionsChart"
                                style="width: 600px; height: 600px;" width="600" height="600"></canvas></div>

                <script type="text/javascript">
                        // <![CDATA[
                        var data = {
                                labels: [

                                        "1.8.0.332.b09-3.el7openjdkportable:36",
                                        "1.8.0.332.b09-3.el7openjdkportable:37",
                                        "1.8.0.332.b09-3.el7openjdkportable:38",
                                        "1.8.0.342.b07-1.el7openjdkportable:39",
                                        "1.8.0.345.b01-1.el7openjdkportable:41",
                                        "1.8.0.352.b08-1.el7openjdkportable:43",
                                        "1.8.0.362.b08-2.el7openjdkportable:47",
                                        "1.8.0.362.b08-3.el7openjdkportable:48",
                                        "1.8.0.362.b08-4.el7openjdkportable:49",
                                        "1.8.0.362.b09-1.el7openjdkportable:50"
                                ],
                                datasets: [
                                        {
                                                label: "Error",
                                                fillColor: "rgba(255,0,255,0.2)",
                                                strokeColor: "rgba(255,0,255,1)",
                                                pointColor: "rgba(255,0,255,1)",
                                                pointStrokeColor: "#fff",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "rgba(255,0,255,1)",
                                                data: [

                                                        0,
                                                        0,
                                                        0,
                                                        0,
                                                        20,
                                                        0,
                                                        0,
                                                        15,
                                                        15,
                                                        0
                                                ]
                                        },
                                        {
                                                label: "Failed",
                                                fillColor: "rgba(255,0,0,0.2)",
                                                strokeColor: "rgba(255,0,0,1)",
                                                pointColor: "rgba(255,0,0,1)",
                                                pointStrokeColor: "#fff",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "rgba(255,0,0,1)",
                                                data: [

                                                        0,
                                                        0,
                                                        0,
                                                        138,
                                                        274,
                                                        62,
                                                        85,
                                                        89,
                                                        87,
                                                        87
                                                ]
                                        }
                                ]
                        };
                        var options = {
                                bezierCurve: false,
                                multiTooltipTemplate: "<%= datasetLabel + \": \" + value %>"
                        };
                        var ctx = document.getElementById("jckErrorsFailuresChart").getContext("2d");
                        var jckErrorsChart = new Chart(ctx).Line(data, options);
                        buildsMap["1.8.0.332.b09-3.el7openjdkportable:36"] = "36"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:37"] = "37"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:38"] = "38"; buildsMap["1.8.0.342.b07-1.el7openjdkportable:39"] = "39"; buildsMap["1.8.0.345.b01-1.el7openjdkportable:41"] = "41"; buildsMap["1.8.0.352.b08-1.el7openjdkportable:43"] = "43"; buildsMap["1.8.0.362.b08-2.el7openjdkportable:47"] = "47"; buildsMap["1.8.0.362.b08-3.el7openjdkportable:48"] = "48"; buildsMap["1.8.0.362.b08-4.el7openjdkportable:49"] = "49"; buildsMap["1.8.0.362.b09-1.el7openjdkportable:50"] = "50";
                        document.getElementById("jckErrorsFailuresChartContainer").onclick = function (evt) {
                                var activePoints = jckErrorsChart.getPointsAtEvent(evt);
                                window.open(buildsMap[activePoints[0].label] + "/java-reports", "_blank");
                        };
        // ]]>
                </script>
                <script type="text/javascript">
                        // <![CDATA[
                        var data = {
                                labels: [

                                        "1.8.0.332.b09-3.el7openjdkportable:36",
                                        "1.8.0.332.b09-3.el7openjdkportable:37",
                                        "1.8.0.332.b09-3.el7openjdkportable:38",
                                        "1.8.0.342.b07-1.el7openjdkportable:39",
                                        "1.8.0.345.b01-1.el7openjdkportable:41",
                                        "1.8.0.352.b08-1.el7openjdkportable:43",
                                        "1.8.0.362.b08-2.el7openjdkportable:47",
                                        "1.8.0.362.b08-3.el7openjdkportable:48",
                                        "1.8.0.362.b08-4.el7openjdkportable:49",
                                        "1.8.0.362.b09-1.el7openjdkportable:50"
                                ],
                                datasets: [
                                        {
                                                label: "Tests total",
                                                fillColor: "rgba(180,180,180,0.2)",
                                                strokeColor: "rgba(180,180,180,1)",
                                                pointColor: "rgba(180,180,180,1)",
                                                pointStrokeColor: "#fff",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "rgba(180,180,180,1)",
                                                data: [

                                                        11885,
                                                        11885,
                                                        11885,
                                                        13093,
                                                        26074,
                                                        26090,
                                                        20012,
                                                        20012,
                                                        20012,
                                                        26012
                                                ]
                                        },
                                        {
                                                label: "Runned tests",
                                                fillColor: "rgba(180,180,180,0.2)",
                                                strokeColor: "rgba(180,180,180,1)",
                                                pointColor: "rgba(180,180,180,1)",
                                                pointStrokeColor: "#fff",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "rgba(180,180,180,1)",
                                                data: [

                                                        11841,
                                                        11841,
                                                        11841,
                                                        13051,
                                                        26032,
                                                        26048,
                                                        26012,
                                                        26012,
                                                        26012,
                                                        26012
                                                ]
                                        }
                                ]
                        };
                        var options = {
                                bezierCurve: false,
                                multiTooltipTemplate: "<%= datasetLabel + \": \" + value %>"
                        };
                        var ctx = document.getElementById("jckPassedChart").getContext("2d");
                        var jckPassedChartTck = new Chart(ctx).Line(data, options);
                        buildsMap["1.8.0.332.b09-3.el7openjdkportable:36"] = "36"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:37"] = "37"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:38"] = "38"; buildsMap["1.8.0.342.b07-1.el7openjdkportable:39"] = "39"; buildsMap["1.8.0.345.b01-1.el7openjdkportable:41"] = "41"; buildsMap["1.8.0.352.b08-1.el7openjdkportable:43"] = "43"; buildsMap["1.8.0.362.b08-2.el7openjdkportable:47"] = "47"; buildsMap["1.8.0.362.b08-3.el7openjdkportable:48"] = "48"; buildsMap["1.8.0.362.b08-4.el7openjdkportable:49"] = "49"; buildsMap["1.8.0.362.b09-1.el7openjdkportable:50"] = "50";
                        document.getElementById("jckPassedChartContainer").onclick = function (evt) {
                                var activePoints = jckPassedChartTck.getPointsAtEvent(evt);
                                window.open(buildsMap[activePoints[0].label] + "/java-reports", "_blank");
                        };
        // ]]>
                </script>
                <script type="text/javascript">
                        // <![CDATA[
                        var data = {
                                labels: [

                                        "1.8.0.332.b09-3.el7openjdkportable:36",
                                        "1.8.0.332.b09-3.el7openjdkportable:37",
                                        "1.8.0.332.b09-3.el7openjdkportable:38",
                                        "1.8.0.342.b07-1.el7openjdkportable:39",
                                        "1.8.0.345.b01-1.el7openjdkportable:41",
                                        "1.8.0.352.b08-1.el7openjdkportable:43",
                                        "1.8.0.362.b08-2.el7openjdkportable:47",
                                        "1.8.0.362.b08-3.el7openjdkportable:48",
                                        "1.8.0.362.b08-4.el7openjdkportable:49",
                                        "1.8.0.362.b09-1.el7openjdkportable:50"
                                ],
                                datasets: [
                                        {
                                                label: "Improvements",
                                                fillColor: "rgba(0,220,0,0.5)",
                                                strokeColor: "rgba(0,220,0,0.8)",
                                                highlightFill: "rgba(0,220,0,0.75)",
                                                highlightStroke: "rgba(0,220,0,1)",
                                                data: [

                                                        0,
                                                        0,
                                                        0,
                                                        0,
                                                        0,
                                                        53,
                                                        2,
                                                        0,
                                                        1,
                                                        0
                                                ]
                                        },
                                        {
                                                label: "Regressions",
                                                fillColor: "rgba(220,0,0,0.5)",
                                                strokeColor: "rgba(220,0,0,0.8)",
                                                highlightFill: "rgba(220,0,0,0.75)",
                                                highlightStroke: "rgba(220,0,0,1)",
                                                data: [

                                                        0,
                                                        0,
                                                        0,
                                                        70,
                                                        0,
                                                        0,
                                                        11,
                                                        1,
                                                        1,
                                                        0
                                                ]
                                        }
                                ]
                        };
                        var options = {
                                bezierCurve: false,
                                multiTooltipTemplate: "<%= datasetLabel + \": \" + value %>"
                        };
                        var ctx = document.getElementById("jckRegressionsChart").getContext("2d");
                        var jckRegressions = new Chart(ctx).Bar(data, options);
                        document.getElementById("jckRegressionsChartContainer").onclick = function (evt) {
                                buildsMap["1.8.0.332.b09-3.el7openjdkportable:36"] = "36"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:37"] = "37"; buildsMap["1.8.0.332.b09-3.el7openjdkportable:38"] = "38"; buildsMap["1.8.0.342.b07-1.el7openjdkportable:39"] = "39"; buildsMap["1.8.0.345.b01-1.el7openjdkportable:41"] = "41"; buildsMap["1.8.0.352.b08-1.el7openjdkportable:43"] = "43"; buildsMap["1.8.0.362.b08-2.el7openjdkportable:47"] = "47"; buildsMap["1.8.0.362.b08-3.el7openjdkportable:48"] = "48"; buildsMap["1.8.0.362.b08-4.el7openjdkportable:49"] = "49"; buildsMap["1.8.0.362.b09-1.el7openjdkportable:50"] = "50";
                                var activePoints = jckRegressions.getBarsAtEvent(evt);
                                window.open(buildsMap[activePoints[0].label] + "/java-reports", "_blank");
                        };
        // ]]>
                </script>
        </div>

</body>

</html>